@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200&family=Open+Sans:wght@300&family=Tilt+Neon&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Bebas Neue", sans-serif;
    font-family: "Nunito", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Tilt Neon", sans-serif;
}
